$light-gray: #efefef;
$gray: #d8d8d8;
$dark-gray: #afafaf;
$black: #2d2d2d;
$white: #f7f7f7;

$content-width: 900px;

$spacing-small: 20px;
$spacing-medium: 40px;
$spacing-large: 60px;

$fontsize-small: 10px;
$fontsize-medium: 16px;
$fontsize-large: 30px;
$fontsize-huge: 40px;

input {
  font-family: 'Rubik', sans-serif;
}
