.input-box {
  max-width: $content-width;
  margin: $spacing-large $spacing-medium;

  @include breakpoint(desktop) {
    margin: $spacing-large auto;
  }

  &__text {
    border: none;
    background-color: $light-gray;
    padding: $spacing-small - 1px;
    font-size: $fontsize-medium;
    line-height: $fontsize-medium;
    width: 80%;
    border-bottom: 1px solid $gray;
    color: $black;

    &::placeholder {
      color: $dark-gray;
    }
    &:focus, &:active {
      outline: none;
    }
  }
  &__button {
    border: none;
    background-color: $light-gray;
    padding: $spacing-small + 1px $spacing-small $spacing-small;
    font-size: $fontsize-medium;
    line-height: $fontsize-medium;
    width: 20%;
    border-bottom: 1px solid $gray;
    color: $dark-gray;

    &:hover {
      color: $black;
      background-color: $gray;
    }
  }
}