.message {
  background-color: $light-gray;
  padding: $spacing-small;
  margin-bottom: $spacing-small;
  display: flex;
  justify-content: space-between;

  &__text {
    color: $black;
    flex: 1;
    min-width: 0;
    word-wrap: break-word;
  }
  &__time {
    font-size: $fontsize-small;
    color: $dark-gray;
    padding: 0 $spacing-small;
    flex-shrink: 0;
  }
}