
.stack-trace {
  font-family: "Segoe UI";
  margin-bottom: $spacing-small;
  color: #FFF;
  background: #008CFF;

  padding: 4%;

  %padding {
    padding: 0 2rem;
  }

  &__trace {
    font-family: "Segoe UI Light";
    font-weight: 300;
    list-style-type: decimal;
  }

  &__emotion {
    font-size: 8em;
    margin: 0;
  }

  &__description {
    font-size: 1.4em;
    margin-bottom: 2em;
  }

  footer {
    small {
      font-size: 0.8em;
    }
  }
}
