
.wordart {
  font-family: Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tag {
  &--programming {
    font-family: "Courier New", Courier, monospace;
    font-size: $fontsize-large;
  }

  &--oembed {
    &-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      iframe, .embed-container object, .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &--profanity {
    font-weight: bolder;
    font-size: $fontsize-large;

    &-red {
      color: red;
    }

    &-darkred {
      color: darkred;
    }

    &-wordart-blue {
      @extend .wordart;
      font-family: Impact, sans-serif;
      color: #24c0fd;
      -webkit-text-stroke: 0.01em #0000aa;
      filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa, Strength=1);
      text-shadow: 0.13em -0.13em 0px #0000aa;
      letter-spacing: -0.05em;
    }

    &-wordart-rainbow {
      @extend .wordart;

      transform: scale(1, 1.5);
      -webkit-transform: scale(1, 1.5);
      -moz-transform: scale(1, 1.5);
      -o-transform: scale(1, 1.5);
      -ms-transform: scale(1, 1.5);

      background: red;
      background: -webkit-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
      background: -o-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
      background: -moz-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
      background: linear-gradient(to right, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--wordart-rainbow-drawn {
      @extend .wordart;

      transform: scale(1, 1.3);
      -webkit-transform: scale(1, 1.3);
      -moz-transform: scale(1, 1.3);
      -o-transform: scale(1, 1.3);
      -ms-transform: scale(1, 1.3);
      letter-spacing: -0.01em;
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-style: italic;
      color: #fff;
      -webkit-text-stroke: 0.01em #000;
      filter: progid:DXImageTransform.Microsoft.Glow(Color=#000000, Strength=1);
      text-shadow: 0.03em 0.03em 0 #6D6D6D;
    }

    &-wordart-yellow {
      @extend .wordart;
      background: #fffa28;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fffa28), color-stop(100%, #ec8a39));
      background: -webkit-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
      background: -o-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
      background: -ms-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
      background: radial-gradient(ellipse at center, #fffa28 0%, #ec8a39 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffa28', endColorstr='#ec8a39', GradientType=1);
      font-family: Impact, sans-serif;
      font-weight: bold;
    }

  }

  &--uppercase {
    font-size: $fontsize-huge;

    &-v1 {
      -webkit-animation: 1s linear infinite condemned_blink_effect; // for android
      animation: 1s linear infinite condemned_blink_effect;
      @-webkit-keyframes condemned_blink_effect { // for android
        0% {
          visibility: hidden;
        }
        50% {
          visibility: hidden;
        }
        100% {
          visibility: visible;
        }
      }
      @keyframes condemned_blink_effect {
        0% {
          visibility: hidden;
        }
        50% {
          visibility: hidden;
        }
        100% {
          visibility: visible;
        }
      }
    }
  }

  &--text-to-img {
    max-height: 30px;
  }

  &--kitten {
    max-height: 200px;
  }
}